modules = ["nodejs-18", "ruby-3.2"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Server"

[[workflows.workflow]]
name = "Web Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run web"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35927
externalPort = 3001

[[ports]]
localPort = 45061
externalPort = 3000
